body {
  width: 100%;
  background-image: url(../../../public/Home.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
