.form-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.add-book-title {
  font-size: 1.5rem;
  font-weight: 800;
}

input {
  width: 100%;
  color: white;
  border: 1px solid black;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
}

button {
  width: 100%;
  background-color: #97bf11;
  color: #fff;
  border: 1px solid black;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
}

.submit {
  font-size: 1rem;
  font-weight: bold;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.house-list {
  

}
@media only screen and (max-width: 800px) {
  input {
    background-color: lightblue;
    width: 50%;
    margin: auto;
  }
}
